/*
  Anthronomous Default Stylesheet
  Description: The default stylesheet. Everything here is targetted towards mobile.

  NOTE: Do not put anything in here that isn't intedned to work for mobile! Override settings for non-mobile screens in non-mobile.css.
*/

/* 
	Other useable colors:
	#4A3A5A
	#B49EB2
	#B74B4D
	#F0AA2D
	#545C63
	#2E3751
	#A3B0AF
*/

body {
	font-family: 'Raleway', sans-serif;
	font-size: 1.4rem;
	font-weight: 400;
	background-color: #151024;
	background: url('../img/circuit_board_bg.png') repeat;		/* @todo Change source URL before uploading */
	color: #FFFFFF;
	overflow: visible;
}

a:link {
	color: #2973ff;
}

a:visited {
	color: #0055f7;
}

a:hover {
	color: #3F7EF3;
}

a:active {
	color: #ea8803;
}

h5 {
	font-weight: 700;
}

.full-width-wrapper {
	width: 100%;
	background-color: #000000;
}


/* Page Header */
#top-header-big {
	display: none;
}

#top-header-big > .column {
	padding-top: 2rem;
	padding-bottom: 2rem;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
}

#top-header-big > .column img {
	display: inline-block;
	object-fit: contain;
}

#top-header-big > .column img[title] {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

#top-header-small {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

#top-header-small img {
	display: block;
	margin: auto;
}


/* Navigation */
.button.nav-button {
	display: block;
	font-family: 'Play', sans-serif;
	font-size: 2rem;
	color: #FFFFFF;
	border-style: none;
	border-radius: 0.6rem;
	background-color: transparent;
	height: 3.5rem;
	line-height: 3.5rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	
}

.button.nav-button:hover {
	background-color: #FFFFFF;
	color: #000000;
}

a.button.nav-button:focus {
	background-color: #FFFFFF;
	color: #000000;
}

.button.nav-button.nav-button-active::before {
	content: '>';
}

.nav-separator {
	display: none;
}

#top-nav-bar nav {
	text-align: center;
}

ul.top-nav-dropdown-container {
	list-style-type: none;
	display: block;
	padding: 0;
	margin: 0;
}

ul.top-nav-dropdown-container li {
	padding: 0;
	margin: 0;
}

/* The rest of focus is done with Javascript */
.top-nav-dropdown-menu.dropdown-menu-focus,
.top-nav-dropdown-container:hover .top-nav-dropdown-menu,
.top-nav-dropdown-container .dropdown-label:focus + .top-nav-dropdown-menu {
	position: relative;
	left: auto;
}

.top-nav-dropdown-container:hover .dropdown-label, 
.top-nav-dropdown-container a.dropdown-label:focus {
	background-color: #FFFFFF;
	color: #000000;
	margin-bottom: 0.2rem;
}

.top-nav-dropdown-menu {
	position: fixed;
	left: -9999px;					/* This is necessary for the tab indexing to work for the menu items */
	border: 1px solid #FFFFFF;
	background-color: #000000;
	z-index: 1;
}

.top-nav-dropdown-menu a.button.nav-button {
	display: block;
	border-radius: 0;
	margin-top: 0;
	margin-bottom: 0;
	text-align: left;
}


/* Content */
.microchip-container
{
	border-image-width: 0;
	border: 5px solid #4D4B51;
	border-style: outset;
	padding-top: 1rem;
	background: url('../img/microchip_smooth_surface_bg.png') repeat;		/* @todo Change source image URL before uploading */
	min-height: 20.0rem;
	word-wrap: break-word;
	margin-left: 0;
	width: 100%;
	margin-bottom: 5rem;
}

.row.microchip-container > .column {
	margin-bottom: 0;
}

.content-box {
	margin: 1rem 1.5rem;
}

/* Source code block overrides */
.content-box > pre
{
	border: 0.1rem solid #000000;
}

.content-box > pre > code
{
	margin: 0;
	padding: 1rem;
	font-size: 1.3rem;
}


/* Footer */
#bottom-nav-bar {
	padding: 1.0rem 0;
}

#bottom-nav-bar .row,
#bottom-nav-bar nav,
#bottom-nav-bar .button.footer-button {
	margin-bottom: 0;
}

#bottom-nav-bar nav {
	text-align: center;
}

#bottom-nav-bar .button.footer-button {
	background-color: transparent;
	border: 0;
	font-family: 'Play', sans-serif;
	font-size: 1.4rem;
	line-height: 0;
	font-weight: 400;
	color: #FFFFFF;
	text-transform: capitalize;
	height: 1.5rem;
	padding: 1.2rem 0.9rem;
	margin-right: 0rem;
	width: auto;
}

#bottom-nav-bar .button.footer-button:hover,
#bottom-nav-bar .button.footer-button:focus {
	background-color: #FFFFFF;
	color: #000000;
}

#copyright {
	margin: 1.5rem 0 1rem 0;
	font-size: 1.2rem;
	text-align: center;
}