/* 
	Visual aid for design layout.
	NOTE: Remove for production environment.
*/

.row .column {
	border-style: dashed;
	border-width: 1px;
	border-color: white;
}

.full-width-wrapper {
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-bottom-color: darkgrey;
}
