/*
  Anthronomous Non-mobile Stylesheet
  Description: Overrides styles for screens bigger than mobile using media queries.
*/

/* Screens bigger than 500 pixels */
@media(min-width: 500px) {
	/* Page Header */
	#top-header-big {
		display: flex;
	}
	
	#top-header-small {
		display: none;
	}
	
	
	/* Navigation */
	.nav-separator {
		display: inline-block;
		margin-left: 1rem;
		margin-right: 1rem;
	}
	
	.button.nav-button {
		display: inline-block;
	}
	
	ul.top-nav-dropdown-container {
		display: inline-block;
	}
	
	.top-nav-dropdown-menu.dropdown-menu-focus,
	ul.top-nav-dropdown-container:hover .top-nav-dropdown-menu,
	ul.top-nav-dropdown-container .dropdown-label:focus + .top-nav-dropdown-menu {
		position: absolute;
		left: auto;
	}
	
	/* Content */
	.microchip-container {
		border-style: solid;
		border-color: transparent;
		border-image: url('../img/microchip_leg_borders.png') 69 round;		/* @todo Change source image URL before uploading */
		border-image-width: 39px;
		border-image-outset: 39px;
		margin: 0 auto 9rem auto;
		width: 93.035%;				/* Fallback */
		width: calc(100% - 79px);
	}
	
	.content-box {
		width: 95%;
		padding: 0.2rem 1rem;
		margin: 1rem auto;
	}
	
	#bottom-nav-bar .button.footer-button {
		margin-right: 2rem;
	}
	
	#copyright {
		margin-top: 1rem;
	}
}

/* Screens bigger than 1200px */
@media (min-width: 1200px) {
	.microchip-container {
		width: 100%;
	}
}